@charset "utf-8";
@use "../../global/_" as g;
.c-breadcrumb {
	margin: 0 0 50px;
	padding: 10px 0;
	border-bottom: 1px dotted rgba(g.$line-gray, 0.4);
	font-size: g.$fz-xxs;
	line-height: 1.4;

	@include g.smMax {
		margin: 0 0 25px;
		font-size: g.$fz-xxxs;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 20px;

		@include g.smMax {
			padding: 0 15px;
		}
	}
	&__item {
		&:not(:last-child) {
			&::after {
				margin: 0 10px;
				content: ">";
				color: #ccc;
			}
		}
	}
}
