<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：見出し</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1200px;
				margin: 40px 0 80px;
				padding: 15px;
				border: 3px double #ddd;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<!--============================================== body_head -->
		<!--#include virtual="/common/inc/body_head.html" -->
		<!--============================================== /body_head -->

		<div class="t-wrap">
			<!--============================================== header -->
			<!--#include virtual="/common/inc/header.html" -->
			<!--============================================== /header -->

			<h1 class="e-h1">
				<span class="__txt">見出し<br>class="e-h1" 大見出し大見出し</span>
			</h1>
			
			<!-- .c-breadcrumb -->
			<nav class="c-breadcrumb">
				<ul class="c-breadcrumb__inner">
					<li class="c-breadcrumb__item"><a href="/" class="c-breadcrumb__link">トップ</a></li>
					<li class="c-breadcrumb__item">テンプレート</li>
					<li class="c-breadcrumb__item">見出し</li>
				</ul>
			</nav>
			<!-- /.c-breadcrumb -->
			

			<!-- .l-contents -->
			<div class="l-contents">
				<!--============================================== template-nav -->
				<!--#include virtual="/template/template-nav.html" -->
				<!--============================================== /template-nav -->
				
				<h2 class="e-h2">class="e-h2" 大見出し大見出し</h2>
				<div class="pre">
					<pre><code>&lt;h2 class="e-h2"&gt;class="e-h2" 大見出し大見出し&lt;/h2&gt;</code></pre>
				</div>

				<h3 class="e-h3">class="e-h3" 中見出し中見出し中見出し中見出し</h3>
				<div class="pre">
					<pre><code>&lt;h3 class="e-h3"&gt;class="e-h3" 中見出し中見出し中見出し中見出し&lt;/h3&gt;</code></pre>
				</div>

				<h4 class="e-h4">class="e-h4" 小見出し小見出し小見出し小見出し小見出し小見出し</h4>
				<div class="pre">
					<pre><code>&lt;h4 class="e-h4"&gt;class="e-h4" 小見出し小見出し小見出し小見出し小見出し小見出し&lt;/h4&gt;</code></pre>
				</div>

				<h5 class="e-h5">class="e-h5" 小見出し小見出し小見出し小見出し小見出し小見出し</h5>
				<div class="pre">
					<pre><code>&lt;h5 class="e-h5"&gt;class="e-h5" 小見出し小見出し小見出し小見出し小見出し小見出し&lt;/h5&gt;</code></pre>
				</div>

				<h6 class="e-h6">class="e-h6" 小見出し小見出し小見出し小見出し小見出し小見出し</h6>
				<div class="pre">
					<pre><code>&lt;h6 class="e-h6"&gt;class="e-h6" 小見出し小見出し小見出し小見出し小見出し小見出し&lt;/h6&gt;</code></pre>
				</div>

			</div>
			<!-- /.l-contents -->

			<!--============================================== footer -->
			<!--#include virtual="/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>