<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：囲み罫</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1200px;
				margin: 40px 0 80px;
				padding: 15px;
				border: 3px double #ddd;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<!--============================================== body_head -->
		<!--#include virtual="/common/inc/body_head.html" -->
		<!--============================================== /body_head -->

		<div class="t-wrap">
			<!--============================================== header -->
			<!--#include virtual="/common/inc/header.html" -->
			<!--============================================== /header -->

			<h1 class="e-h1">
				<span class="__txt">囲み罫</span>
			</h1>
			
			<!-- .c-breadcrumb -->
			<nav class="c-breadcrumb">
				<ul class="c-breadcrumb__inner">
					<li class="c-breadcrumb__item"><a href="/" class="c-breadcrumb__link">トップ</a></li>
					<li class="c-breadcrumb__item">テンプレート</li>
					<li class="c-breadcrumb__item">囲み罫</li>
				</ul>
			</nav>
			<!-- /.c-breadcrumb -->
			

			<!-- .l-contents -->
			<div class="l-contents">
				<!--============================================== template-nav -->
				<!--#include virtual="/template/template-nav.html" -->
				<!--============================================== /template-nav -->
				
				<h2 class="e-h2">グレー　class="m-box _gray_"</h2>
				<div class="m-box _gray_">ああああああああああああああああああああああああああああああああああああああ</div>
				<div class="pre">
					<pre><code>&lt;div class="m-box _gray_"&gt;ああああああああああああああああああああああああああああああああああああああ&lt;/div&gt;</code></pre>
				</div>

				<h2 class="e-h2">グレー　class="m-box _line-gray_"</h2>
				<div class="m-box _line-gray_">ああああああああああああああああああああああああああああああああああああああ</div>
				<div class="pre">
					<pre><code>&lt;div class="m-box _line-gray_"&gt;ああああああああああああああああああああああああああああああああああああああ&lt;/div&gt;</code></pre>
				</div>


			</div>
			<!-- /.l-contents -->

			<!--============================================== footer -->
			<!--#include virtual="/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>