<ul class="c-grid _col4_ _auto-fit_ u-mb-xs">
	<li class="__col"><a href="/template/" class="e-btn _m-0_ u-w100p _w-s_">見出し</a></li>
	<li class="__col"><a href="/template/template2.html" class="e-btn _m-0_ u-w100p _w-s_">リンク</a></li>
	<li class="__col"><a href="/template/template3.html" class="e-btn _m-0_ u-w100p _w-s_">テキスト</a></li>
	<li class="__col"><a href="/template/template4.html" class="e-btn _m-0_ u-w100p _w-s_">グリッド</a></li>
	<li class="__col"><a href="/template/template5.html" class="e-btn _m-0_ u-w100p _w-s_">左右回り込み</a></li>
	<li class="__col"><a href="/template/template6.html" class="e-btn _m-0_ u-w100p _w-s_">リスト</a></li>
	<li class="__col"><a href="/template/template7.html" class="e-btn _m-0_ u-w100p _w-s_">囲み罫</a></li>
	<li class="__col"><a href="/template/template8.html" class="e-btn _m-0_ u-w100p _w-s_">テーブル</a></li>
	<li class="__col"><a href="/template/template9.html" class="e-btn _m-0_ u-w100p _w-s_">フォーム関連</a></li>
	<li class="__col"><a href="/template/template10.html" class="e-btn _m-0_ u-w100p _w-s_">汎用制御・<br>特定要素</a></li>
	<li class="__col"><a href="/template/template11.html" class="e-btn _m-0_ u-w100p _w-s_">マージン</a></li>
	<li class="__col"><a href="/template/template12.html" class="e-btn _m-0_ u-w100p _w-s_">メディアクエリ</a></li>
</ul>
<div class="u-mb-xxl">
	<a href="/template/column02.html" class="e-btn _outline_ _w-l_">2カラムレイアウトサンプル</a>
	<a href="/template/column03.html" class="e-btn _outline_ _w-l_">3カラムレイアウトサンプル</a>
</div>
