<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：テキスト</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1200px;
				margin: 40px 0 80px;
				padding: 15px;
				border: 3px double #ddd;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<!--============================================== body_head -->
		<!--#include virtual="/common/inc/body_head.html" -->
		<!--============================================== /body_head -->

		<div class="t-wrap">
			<!--============================================== header -->
			<!--#include virtual="/common/inc/header.html" -->
			<!--============================================== /header -->

			<h1 class="e-h1">
				<span class="__txt">テキスト</span>
			</h1>
			
			<!-- .c-breadcrumb -->
			<nav class="c-breadcrumb">
				<ul class="c-breadcrumb__inner">
					<li class="c-breadcrumb__item"><a href="/" class="c-breadcrumb__link">トップ</a></li>
					<li class="c-breadcrumb__item">テンプレート</li>
					<li class="c-breadcrumb__item">テキスト</li>
				</ul>
			</nav>
			<!-- /.c-breadcrumb -->
			

			<!-- .l-contents -->
			<div class="l-contents">
				<!--============================================== template-nav -->
				<!--#include virtual="/template/template-nav.html" -->
				<!--============================================== /template-nav -->

				
				<h2 class="e-h2">文字サイズ</h2>
				<div class="u-fz-10">ああああああああああああああああ</div>
				<div class="u-fz-12">ああああああああああああああああ</div>
				<div class="u-fz-14">ああああああああああああああああ</div>
				<div class="u-fz-16">ああああああああああああああああ</div>
				<div class="u-fz-18">ああああああああああああああああ</div>
				<div class="u-fz-20">ああああああああああああああああ</div>
				<div class="u-fz-22">ああああああああああああああああ</div>
				<div class="u-fz-24">ああああああああああああああああ</div>
				<div class="pre">
					<pre><code>&lt;div class=&quot;u-fz-10&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;u-fz-12&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;u-fz-14&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;u-fz-16&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;u-fz-18&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;u-fz-20&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;u-fz-22&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;u-fz-24&quot;&gt;ああああああああああああああああ&lt;/div&gt;</code></pre>
				</div>


				<h2 class="e-h2">文字色</h2>
				<div class="u-c-red">ああああああああああああああああ</div>
				<div class="pre">
					<pre><code>&lt;div class=&quot;u-c-red&quot;&gt;ああああああああああああああああ&lt;/div&gt;</code></pre>
				</div>

				
				<h2 class="e-h2">文字ボールド</h2>
				<div class="u-fw-n">ああああああああああああああああ</div>
				<div class="u-fw-b">ああああああああああああああああ</div>
				<div class="pre">
					<pre><code>&lt;div class=&quot;u-fw-n&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;u-fw-b&quot;&gt;ああああああああああああああああ&lt;/div&gt;</code></pre>
				</div>

				
				<h2 class="e-h2">字下げ</h2>
				<div class="m-indent u-mb-xxxs"><span class="__item">※</span>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="m-indent _space_"><span class="__item">※1</span>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="pre">
					<pre><code>&lt;div class="m-indent"&gt;
	&lt;span class="__item"&gt;※&lt;/span&gt;
	この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
&lt;/div&gt;
					
&lt;div class="m-indent _space_"&gt;
	&lt;span class="__item"&gt;※1&lt;/span&gt;
	この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
&lt;/div&gt;</code></pre>
				</div>

				

			</div>
			<!-- /.l-contents -->

			<!--============================================== footer -->
			<!--#include virtual="/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>