@charset "utf-8";
@use "../../global/_" as g;
.e-label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 30px;
	padding: 3px 10px 5px;
	background: g.$baseColor;
	font-size: g.$fz-xxs;
	text-align: center;
	line-height: 1.3;
	color: g.$white;
	border-radius: 50px;

	&:last-child {
		margin: 0 0 0 15px;
		
		@include g.smMax {
			margin: 0 0 0 5px;
		}
	}
	
	&._ml0_ {
		margin: 0;
	}
	
	&._ml5_ {
		&:not(:last-child) {
			margin: 0 5px 0 0;
		}
		&:not(:first-child) {
			margin: 0;
		}
	}
	
	&._blue_ {
		background: g.$baseColor;
	}
	
	&._light-blue_ {
		background: #E9F0FC;
		color: g.$baseColor;
		@include g.font-bold;
	}
}

