@charset "utf-8";
@use "../../global/_" as g;
.c-common-download {
	background: url("/common/img/common/bg_footer_blog.png") top center repeat-x;
	background-size: cover;
	position: relative;
	padding: 105px 0;
	text-align: center;
	
	@include g.smMax {
		padding: 50px 15px;
	}
	
	&::after {
		content: "";
		position: absolute;
		top: 31px;
		right: 20px;
		background: url("/common/img/common/bg_footer_inner.png") 0 0 no-repeat;
		width: 440px;
		height: 463px;
		background-size: 100%;
		z-index: -1;
		
		@include g.smMax {
			width: 200px;
			height: 148px;
			top: auto;
			right: 0;
			bottom: 0;
		}
	}
	
	&__ttl {
		font-size: 2.3rem;
		line-height: 1.3;
		margin: 0 0 30px;
		@include g.font-medium;
		
		@include g.smMax {
			font-size: g.$fz-xl;
			margin: 0 0 20px;
		}
	}
	
	.e-btn-arrow {
		font-size: g.$fz-xxxl;
		height: 80px;
		margin: 0 20px;
		
		@include g.smMax {
			width: 100%;
			margin: 0 0 15px;
			height: 65px;
			font-size: g.$fz-xxl;
			
			&:last-child {
				margin: 0;
			}
		}
	}
}


